<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="ko">
<head>
    <title>원딜텔레콤</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'onedeal/style/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'onedeal/style/css/font-awsome.min.css' %}" rel="stylesheet">
    <link href="{% static 'onedeal/style/css/prism-okaidia.css' %}" rel="stylesheet">
    <link href="{% static 'onedeal/style/css/custom.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <meta charset="UTF-8">
    <title>hi</title>
</head>
<body>