<!DOCTYPE html>
{% load static %}
{% load humanize %}

<html lang="ko">

<head>
    <title>{% block title %} 원딜텔레콤 {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'onedeal/style/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'onedeal/style/css/font-awsome.min.css' %}" rel="stylesheet">
    <link href="{% static 'onedeal/style/css/prism-okaidia.css' %}" rel="stylesheet">
    <link href="{% static 'onedeal/style/css/custom.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <meta charset="UTF-8">
    <title>hi</title>
</head>
<body>

<!-- 네비게이션 시작 -->
{% include 'onedeal/navbar.html' %}
<!-- 네비게이션 끝 -->


{% block header %}
{#    <header>#}
{#        <img src="https://www.km-phone.com/storage/upload/basic/202103/0000000043_20210326151704_9969.png" alt=""#}
{#             class="w-100 bg-dark p-0 m-0">#}
{#        <div class="slider">#}
{#            <div>{% lorem random %}</div>#}
{#            <div>{% lorem random %}</div>#}
{#        </div>#}
{#</header>#}
{% endblock %}

{# main Content #}
{% block mainContent %}
{% endblock %}

{# second AD #}
{% block secondAD %}
{% endblock %}

{# second Content #}
{% block secondContent %}
{% endblock %}

<!-- Footer -->
<footer class="py-5 bg-dark text-white">
    <!-- Grid container -->
    <div class="container p-4">

        <!-- Section: Text -->
        <section class="mb-4">
            <p>
                <span style="font-weight:bold;font-family:arial;font-size:2em;color:fuchsia">원딜컴퍼니</span>
                대표 : 소순남 | Tel. 010-3917-1175
            </p>
            <p>
                사업자번호 : 842-05-01918 | E-mail : onedeal1207@naver.com
            </p>
            <p>
                주소 : 서울특별시 남부순환로 1784 2층
            </p>
            <p>
                Copyright 원딜.Co.Ltd. All rights reserved
        </section>
        <!-- Section: Text -->
    </div>
</footer>
<!-- Footer -->

<script src="{% static 'onedeal/style/js/jquery.min.js' %}"></script>
<script src="{% static 'onedeal/style/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'onedeal/style/js/prism.js' %}"></script>
<script src="{% static 'onedeal/style/js/custom.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
<script>
    $(document).ready(function () {
        $('.slider').bxSlider();
    });
</script>
</body>
</html>