{% extends "onedeal/index.html" %}
{% load humanize %}

{% block header %}
<header>
    <img src="https://www.km-phone.com/storage/upload/basic/202103/0000000043_20210326151704_9969.png" alt="" class="w-100 bg-dark p-0 m-0">
</header>
{% endblock %}

{% block mainContent %}
<div class="bgcolor-white pb-5">
<div class="container">
    <div class="text-center py-4">
        <h1>신청서 작성</h1>
    </div>
      <div class="row">


    <form method="post">{% csrf_token %}
        <div class="form-group">
{#            <div class="form-group">#}
{#            <label class="col-form-label mt-4" for="inputDefault">이름</label>#}
{#            <input type="text" class="form-control" placeholder="이름을 쓰시오.." id="name" value="{{ form.apply_name.value }}">#}
{#            </div>#}
{##}
{#            <div class="form-group">#}
{#            <label class="col-form-label mt-4" for="number">핸드폰 번호</label>#}
{#            <input type="text" class="form-control" placeholder="phone.." id="name" value="{{ form.apply_phonenum.value }}">#}
{#            </div>#}
{##}
{#            <div class="form-group">#}
{#            <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>#}
{#            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value="{{ form.apply_email.value }}">#}
{#            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
{#            </div>#}
{##}
{#            <div class="form-group">#}
{#            <label class="col-form-label mt-4" for="inputDefault">생년월일</label>#}
{#            <input type="text" class="form-control" placeholder="6자리 xxxxxx" id="name" value="{{ form.apply_birth.value }}">#}
{#            </div>#}
{##}
{#            <div class="form-group">#}
{#            <label for="exampleTextarea" class="form-label mt-4">Example textarea</label>#}
{#            <textarea class="form-control" id="exampleTextarea" rows="3" spellcheck="false" value="{{ form.apply_content.value }}"></textarea>#}
{#            </div>#}

{#            {{ form.as_table }}#}
            <label class="col-form-label mt-4" for="inputDefault">이름</label>
            {{ form.apply_name }}
            <label class="col-form-label mt-4" for="inputDefault">핸드폰 번호</label>
            {{ form.apply_phonenum }}
            <label class="col-form-label mt-4" for="inputDefault">이메일</label>
            {{ form.apply_email }}
            <label class="col-form-label mt-4" for="inputDefault">생년월일</label>
            {{ form.apply_birth }}
            <label class="col-form-label mt-4" for="inputDefault">상세내용</label>
            {{ form.apply_content }}
        </div>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
    {{ form.media }}
 </div>
</div>
</div>

{% endblock %}
