{% extends "onedeal/index.html" %}
{% load humanize %}

{# Main Conntetnt #}
{% block mainContent %}
    <div class="bgcolor-white pb-5">
        <div class="container">
    <div class="text-center py-4">
        <h1>Hello, World!</h1>
    </div>
      <div class="row">
    {% for post in object_list %}
                    <div class="col-6 pb-4">
                        <div class="card">
                            <div class="row no-gutters">
                                <div class="col-sm-4">
                                    {% if post.post_img %}
                                        <img src="{{ post.post_img.url }}" alt="기기이미지"
                                             class="card-img m-4 text-center"/>
                                    {% else %}
                                        <img src="https://picsum.photos/seed/picsum/200/300" alt="noimg"
                                             class="card-img m-3 text-center">
                                    {% endif %}
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-body">
                                        <h4 class="card-title mt-4">{{ post.post_title }}</h4>
                                        <h5 class="text-danger">{{ post.post_author }}</h5>
                                        <ol class="bgcolor-gray breadcrumb py-1">
                                            <li class="breadcrumb-item active ms-3">LG</li>
                                            <li class="breadcrumb-item active">통신사 이동</li>
                                            <li class="breadcrumb-item active">공시지원할인</li>
                                            <li class="breadcrumb-item active">프리미어 에센셜</li>
                                        </ol>
                                        <div class="card-text small text-muted">- 원딜
                                            특별할인: {{ post.post_created }}원
                                        </div>
                                        <div class="card-text small text-muted">-
                                            공시지원할인: {{ post.post_content }}원
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
      </div>
</div>
</div>
{% endblock %}